* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdcdcd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &_inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            margin-top: 15px;
        }

        & h2, h3 {
            color: #323232;
        }

        & a {
            background-color: #323232;
            padding: 8px 12px;
            border-radius: 8px;
            color: #cdcdcd;
            text-decoration: none;

            &:hover {
                background-color: white;
                color: #323232;
            }
        }
    }
}