* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #cdcdcd;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.telegramAuth {
	padding: 8px;
	background-color: rebeccapurple;
	display: flex;
	justify-content: center;

	&_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		color: wheat;

		& p {

			& a {
			
				text-decoration: none;
				color: wheat;
			}
		}

		& button {
			background-color: white;
			border-radius: 8px;
			color: rebeccapurple;
			border: none;
			padding: 4px 6px;
			margin-left: 20px;

			&:hover {
				cursor: pointer;
				color: wheat;
				background-color: #323232;
			}
		}
	}
}

.container {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	color: #323232;

	&_inner {
		width: 1440px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		& .top {
			display: flex;
			align-items: center;

			& .t1 {
				display: flex;
				flex-direction: column;

				& a {
					display: block;
					margin-top: 8px;
					background-color: #323232;
					padding: 8px 12px;
					border-radius: 8px;
					color: #cdcdcd;
					text-decoration: none;
					text-align: center;

					&:hover {
						background-color: white;
						color: #323232;
					}
				}

				& img {
					width: 150px;
					height: 150px;
					border-radius: 14px;
					border: 1px #323232 solid;
				}
			}

			& .t2 {
				margin-left: 30px;

				& div + div {
					margin-top: 8px;
				}

				&_country {
					display: flex;

					& img {
						width: 18px;
					}

					& p {
						padding-left: 2px;
					}
				}

				&_date {
					display: flex;

					& img {
						width: 18px;
						transform: translateY(-1px);
					}

					& p {
						padding-left: 6px;
					}
				}
			}
		}

		& .main {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			& .createPost {

				& .createPostContainer {

					& form {
						text-align: center;
						display: flex;
						flex-direction: column;

						& textarea {
							padding: 4px 7px;
							color: #323232;
						}

						& input {
							padding: 4px 7px;
							color: #323232;
						}

						& .info {
							font-size: 12px;
						}
					}
				}
			}

			& .posts {
				margin-top: 30px;

				& .post {
					padding: 10px;
					background-color: #323232;
					border-radius: 0 14px;
					width: 500px;
					display: flex;
					flex-direction: column;
					color: wheat;

					& p {
						font-size: 14px;
					}

					& img {
						margin-top: 5px;
						width: 400px;
					}

					&_top {
						display: flex;
						justify-content: space-evenly;
						align-items: center;

						& .heart {
							display: flex;
							justify-content: center;
							align-items: center;

							& * + * {
								margin-left: 8px;
							}

							& img {
								width: 14px;
								transform: translateY(-2px);
							}
						}

						& button {
							color: wheat;
							background: none;
							border: none;
							cursor: pointer;
						}
					}

					&_main {
						margin-top: 15px;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
					}

					&_bottom {
						margin-top: 5px;
						display: flex;
						justify-content: space-around;

						& button {
							color: wheat;
							background: none;
							border: none;
							cursor: pointer;
						}
					}
				}

				& .post + .post {
					margin-top: 15px;
				}
			}
		}
	}
}