* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdcdcd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    color: #323223;

    &_inner {
        display: flex;
        flex-direction: column;

        & .title {
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
        }

        & .row {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #323232;
            padding: 10px;
            border-radius: 14px;

            & p {
                text-align: center;
                font-size: 14px;
                margin-bottom: 8px;
                color: wheat;
            }

            & input {
                padding: 4px 12px;
                border-radius: 10px;
                border: none;
                outline: none;

                & + input {
                    margin-top: 8px;
                }

                & + button {
                    margin-top: 8px;
                }
            }

            & button {
                padding: 2px 8px;
                border-radius: 8px;
                border: none;
                background-color: wheat;
                color: #323232;

                &:hover {
                    cursor: pointer;
                    background-color: white;
                }
            }

            & + .row {
                margin-top: 10px;
            }

            & form {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.header {
	background-color: #323232;
	color: wheat;

	&_inner {
		height: 32px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		& a {
			color: wheat;
			text-decoration: none;
		}

		& menu {
			display: flex;

			& li {
				list-style: none;

				& + li {
					margin-left: 16px;
				}

				& a {
					color: wheat;
					text-decoration: none;

					&:hover {
						color: white;
					}
				}
			}
		}
	}
}