* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdcdcd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    color: #323223;

    &_inner {
        display: flex;
        flex-direction: column;
    }
}

.items {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & a {
        display: block;
        text-decoration: none;
        margin-top: 10px;

        .item {
    
            &_inner {
                background: #323232;
                color: wheat;
                padding: 8px 12px;
                border-radius: 8px;
                display: flex;

                & img {
                    width: 60px;
                }

                & img + .column {
                    margin-left: 12px;
                }
            }
        }

        & + a {
            margin-left: 15px;
        }
    }
}

.header {
	background-color: #323232;
	color: wheat;

	&_inner {
		height: 32px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		& a {
			color: wheat;
			text-decoration: none;
		}

		& menu {
			display: flex;

			& li {
				list-style: none;

				& + li {
					margin-left: 16px;
				}

				& a {
					color: wheat;
					text-decoration: none;

					&:hover {
						color: white;
					}
				}
			}
		}
	}
}