* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background: #ffcdcd; }
  *::-moz-selection {
    background: #c89696; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Oswald', serif;
  background: #955151; }

html {
  scrollbar-color: wheat #693030; }

body::-webkit-scrollbar {
  width: 14px; }

body::-webkit-scrollbar-thumb {
  background: wheat;
  border-radius: 12px;
  border: 4px solid #693030; }

body::-webkit-scrollbar-track {
  background: #693030; }
