* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #cdcdcd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.telegramAuth {
  padding: 8px;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center; }
  .telegramAuth_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat; }
    .telegramAuth_inner p a {
      text-decoration: none;
      color: wheat; }
    .telegramAuth_inner button {
      background-color: white;
      border-radius: 8px;
      color: rebeccapurple;
      border: none;
      padding: 4px 6px;
      margin-left: 20px; }
      .telegramAuth_inner button:hover {
        cursor: pointer;
        color: wheat;
        background-color: #323232; }

.container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  color: #323232; }
  .container_inner {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .container_inner .top {
      display: flex;
      align-items: center; }
      .container_inner .top .t1 {
        display: flex;
        flex-direction: column; }
        .container_inner .top .t1 a {
          display: block;
          margin-top: 8px;
          background-color: #323232;
          padding: 8px 12px;
          border-radius: 8px;
          color: #cdcdcd;
          text-decoration: none;
          text-align: center; }
          .container_inner .top .t1 a:hover {
            background-color: white;
            color: #323232; }
        .container_inner .top .t1 img {
          width: 150px;
          height: 150px;
          border-radius: 14px;
          border: 1px #323232 solid; }
      .container_inner .top .t2 {
        margin-left: 30px; }
        .container_inner .top .t2 div + div {
          margin-top: 8px; }
        .container_inner .top .t2_country {
          display: flex; }
          .container_inner .top .t2_country img {
            width: 18px; }
          .container_inner .top .t2_country p {
            padding-left: 2px; }
        .container_inner .top .t2_date {
          display: flex; }
          .container_inner .top .t2_date img {
            width: 18px;
            transform: translateY(-1px); }
          .container_inner .top .t2_date p {
            padding-left: 6px; }
    .container_inner .main {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container_inner .main .createPost .createPostContainer form {
        text-align: center;
        display: flex;
        flex-direction: column; }
        .container_inner .main .createPost .createPostContainer form textarea {
          padding: 4px 7px;
          color: #323232; }
        .container_inner .main .createPost .createPostContainer form input {
          padding: 4px 7px;
          color: #323232; }
        .container_inner .main .createPost .createPostContainer form .info {
          font-size: 12px; }
      .container_inner .main .posts {
        margin-top: 30px; }
        .container_inner .main .posts .post {
          padding: 10px;
          background-color: #323232;
          border-radius: 0 14px;
          width: 500px;
          display: flex;
          flex-direction: column;
          color: wheat; }
          .container_inner .main .posts .post p {
            font-size: 14px; }
          .container_inner .main .posts .post img {
            margin-top: 5px;
            width: 400px; }
          .container_inner .main .posts .post_top {
            display: flex;
            justify-content: space-evenly;
            align-items: center; }
            .container_inner .main .posts .post_top .heart {
              display: flex;
              justify-content: center;
              align-items: center; }
              .container_inner .main .posts .post_top .heart * + * {
                margin-left: 8px; }
              .container_inner .main .posts .post_top .heart img {
                width: 14px;
                transform: translateY(-2px); }
            .container_inner .main .posts .post_top form button {
              color: wheat;
              background: none;
              border: none;
              cursor: pointer; }
          .container_inner .main .posts .post_main {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
          .container_inner .main .posts .post_bottom {
            margin-top: 5px;
            display: flex;
            justify-content: space-around; }
            .container_inner .main .posts .post_bottom button {
              color: wheat;
              background: none;
              border: none;
              cursor: pointer; }
