* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #cdcdcd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.container {
  display: flex;
  justify-content: center;
  color: #323223; }
  .container_inner {
    display: flex;
    flex-direction: column; }

.items {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .items a {
    display: block;
    text-decoration: none;
    margin-top: 10px; }
    .items a .item_inner {
      background: #323232;
      color: wheat;
      padding: 8px 12px;
      border-radius: 8px;
      display: flex; }
      .items a .item_inner img {
        width: 60px; }
      .items a .item_inner img + .column {
        margin-left: 12px; }
    .items a + a {
      margin-left: 15px; }

.header {
  background-color: #323232;
  color: wheat; }
  .header_inner {
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .header_inner a {
      color: wheat;
      text-decoration: none; }
    .header_inner menu {
      display: flex; }
      .header_inner menu li {
        list-style: none; }
        .header_inner menu li + li {
          margin-left: 16px; }
        .header_inner menu li a {
          color: wheat;
          text-decoration: none; }
          .header_inner menu li a:hover {
            color: white; }
