<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/profile.css">
    <link rel="shortcut icon" href="https://go.dev/favicon.ico" type="image/x-icon">
    <title>{{ .Name }}</title>
    <script defer>
        function removePost(id) {
            fetch('./myProfile/removePost?q=' + id)
            .then(  
                function(response) {  
                    if (response.status !== 200) {  
                        console.log('Looks like there was a problem. Status Code: ' + response.status)
                        return
                    }
                    document.location.reload()
                }  
            )  
            .catch(function(err) {  
                console.log('Fetch Error :-S', err)
            })
        }

        function resetAvatar(id) {
            fetch('./myProfile/resetAvatar?q=' + id)
            .then(  
                function(response) {  
                    if (response.status !== 200) {  
                        console.log('Looks like there was a problem. Status Code: ' + response.status)
                        return
                    }
                    document.location.reload()
                }  
            )  
            .catch(function(err) {  
                console.log('Fetch Error :-S', err)
            })
        }
    </script>
</head>
<body>
    {{ template "header" . }}
    <div class="container">
        <div class="container_inner">
            <div class="top">
                <div class="t1">
                    <img src="{{ .Avatar }}" alt="">
                    <a href="/msg/@{{ .Link }}">Send message</a>
                    {{ if eq .Role "god" }}
                    <a onclick="resetAvatar('{{ .ID.Hex }}')">Reset avatar</a>
                    {{ end }}
                </div>
                <div class="t2">
                    <div>
                        <p><b>{{ .Name }}</b></p>
                    </div>
                    {{ if .Description }}
                    <div>
                        <p>- {{ .Description }}</p>
                    </div>
                    {{ end }}
                    {{ if .Country }}
                    <div class="t2_country">
                        <img src="/public/img/country.svg" alt="">
                        <p>{{ .Country }}</p>
                    </div>
                    {{ end }}
                    {{ if .Link }}
                    <div>
                        <p>@{{ .Link }}</p>
                    </div>
                    {{ end }}
                    {{ if .Date }}
                    <div class="t2_date">
                        <img src="/public/img/calendar.svg" alt="">
                        <p>{{ .NewDate }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="main">
                <div class="posts">
                    {{ range .Posts }}
                    {{ if not .hide }}
                    <div class="post">
                        <div class="post_top">
                            <p>{{ .date }}</p>
                            <div class="heart">
                                <img src="/public/img/heart.svg" alt="">
                                <p>0</p>
                            </div>
                            <button onclick="removePost('{{ ._id.Hex }}')">delete post</button>
                        </div>
                        <div class="post_main">
                            <p>{{ .text }}</p>
                            {{ if .image }}
                            <img src="{{ .image }}" alt="">
                            {{ end }}
                        </div>
                        <div class="post_bottom">
                            <button>up</button><button>down</button>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>